.cart-no{
    position: absolute;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    background: rgb(212, 144, 16);
    color: white;
    text-align: center;
    top: -12px;
    right: 32px
}